*{
  margin: 0;
}

body {
  margin: 0;
  background-color: #fb7185;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blueBg {
  background-color: #E0F2FE;
  border: 1px solid #38BDF8;
}

.yellowBg {
  background-color: #FEF9C3;
  border: 1px solid #FDE047;
}

.purpleBg {
  background-color: #EDE9FE;
  border: 1px solid #A78BFA;
}

.greenBg {
  background-color:#DCFCE7;
  border: 1px solid #4ADE80;
}

.thumbnailPic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fw-semibold {
  font-weight: 600;
}
